body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Stylish', sans-serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
p{
  line-height: 1.5
}


a{
  color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}


.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 70px;
}


.intro{
  width: 50%;
  margin: auto;
}
.contact-me{
  width: 30%;
  margin: 40px auto 60px;
}

.bottom-container {
background-color: #66BFBF;
padding: 50px 0 20px;
}

.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 1.5;
}
.set{
  width: 40%;
  float: left;
  margin-right: 30px;
}
.despair{
  width: 40%;
  float: right;
  margin-left: 30px;
}
.wite{
  color: #EAF6F6;
  font-size: 0.75em;
  padding: 20px 10px;
}
